<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Strona domowa Adriana Niewiadomskiego">
    <meta name="keywords" content="Adrian Niewiadomski, Niewiadomski, Adrian Niewiadomski homepage">
    
    <!-- <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" /> -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" sizes="16x16">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaQueries.css') }}">
    
    <script src="https://kit.fontawesome.com/64f7cfc6e1.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/menu_index.js') }}" charset="utf-8"></script>
    <title>Adrian Niewiadomski | Strona domowa</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/three.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/model.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/objLoader.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/animacje.js') }}"></script>

    <title>Document</title>
</head>
<body onload="ustawTytul(); inicjujAnimacje('{{ url_for('static', filename='img/2k_earth_daymap.jpg') }}');">
    <section id="main">
        <div class="container">
            <h2><a href="home">&lt;<span>AN</span>&gt;</a></h2>
            <nav>
                <label id="ham" for="check">
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                </label>
                <input type="checkbox" id="check" onchange="przelaczTytul();">
                <ul id="glowne-menu">
                    <li class="active"><a href="">Home</a></li>
                    <li><a href="o_mnie">O mnie</a></li>
                    <li><a href="projekty">Projekty</a></li>
                    <li><a href="kontakt">Kontakt</a></li>
                </ul>
            </nav>

        </div>
        <h1 id="tytul">Adrian Niewiadomski</h1>
    <canvas id="my_canvas"></canvas> 
    <div id="info">

        <a class="icon-big" href="mailto:kontakt@adrianniewiadomski.pl"><i class="far fa-envelope fa-3x"></i></a>
        <a class="icon-big" href="https://github.com/AdrianNiewiadomski" target="_blank"><i class="fab fa-github fa-3x"></i></a>
        <a class="icon-big" href="https://pl.linkedin.com/in/adrian-niewiadomski-84589356" target="_blank">
            <i class="fab fa-linkedin-in fa-3x"></i></a>
        <a class="icon-big" href="https://www.researchgate.net/profile/A_Niewiadomski" target="_blank"><i class="fab fa-researchgate fa-3x"></i></a>

        <a class="icon-small" href="mailto:kontakt@adrianniewiadomski.pl"><i class="far fa-envelope fa-2x"></i></a>
        <a class="icon-small" href="https://github.com/AdrianNiewiadomski" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        <a class="icon-small" href="https://pl.linkedin.com/in/adrian-niewiadomski-84589356" target="_blank">
            <i class="fab fa-linkedin-in fa-2x"></i></a>
        <a class="icon-small" href="https://www.researchgate.net/profile/A_Niewiadomski" target="_blank"><i class="fab fa-researchgate fa-2x"></i></a>

        <p>2019 &copy; Adrian Niewiadomski</p>
    </div>  
</section> 
</body>
</html>
<!-- https://www.solarsystemscope.com/textures/ -->