<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Strona domowa Adriana Niewiadomskiego">
        <meta name="keywords" content="Adrian Niewiadomski, Niewiadomski, Adrian Niewiadomski homepage">
        
        <!-- <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />-->
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" sizes="16x16">
        

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/kontakt.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaQueries.css') }}">
        
        <script src="https://kit.fontawesome.com/64f7cfc6e1.js" crossorigin="anonymous"></script>
        
        <title>Adrian Niewiadomski | Kontakt</title>
    </head>
    <body>
        <header>
            <div class="container">
                <h2><a href="home">&lt;<span>AN</span>&gt;</a></h2>
                <nav>
                    <label id="ham" for="check">
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                    </label>
                    <input type="checkbox" id="check">
                    <ul id="glowne-menu">
                        <li><a href="home">Home</a></li>
                        <li><a href="o_mnie">O mnie</a></li>
                        <li><a href="projekty">Projekty</a></li>
                        <li class="active"><a href="kontakt">Kontakt</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <section id="kontakt">
            <div class="container">
                <h1>Kontakt</h1>

    			<div class="akapit">
                    <h2>Adrian Niewiadomski</h2>
    				<div class="daty">
    					Email:
    				</div>
    				<div class="firmy">
    					<a href="mailto:kontakt@adrianniewiadomski.pl">
                            kontakt@adrianniewiadomski.pl
                        </a>
    				</div>
    			</div>
                <div class="akapit">
    				<div class="daty">
    					GitHub:
    				</div>
    				<div class="firmy">
    					<a href="https://github.com/AdrianNiewiadomski"  target="_blank">
                            https://github.com/AdrianNiewiadomski
                        </a>
    				</div>
    			</div>
                <div class="akapit">
    				<div class="daty">
    					LinkedIn:
    				</div>
    				<div class="firmy">
    					<a href="https://www.linkedin.com/in/adrian-niewiadomski-84589356/"  target="_blank">
                            https://www.linkedin.com/in/adrian-niewiadomski-84589356/
                        </a>
    				</div>
    			</div>
                <div class="akapit">
    				<div class="daty">
    					ResearchGate:
    				</div>
    				<div class="firmy">
    					<a href="https://www.researchgate.net/profile/A_Niewiadomski"  target="_blank">
                            https://www.researchgate.net/profile/A_Niewiadomski
                        </a>
    				</div>
    			</div>
            </div>
        </section>

        <footer>
            <div class="container">

                <a class="icon-big" href="mailto:kontakt@adrianniewiadomski.pl"><i class="far fa-envelope fa-3x"></i></a>
                <a class="icon-big" href="https://github.com/AdrianNiewiadomski" target="_blank"><i class="fab fa-github fa-3x"></i></a>
                <a class="icon-big" href="https://pl.linkedin.com/in/adrian-niewiadomski-84589356" target="_blank">
                    <i class="fab fa-linkedin-in fa-3x"></i></a>
                <a class="icon-big" href="https://www.researchgate.net/profile/A_Niewiadomski" target="_blank"><i class="fab fa-researchgate fa-3x"></i></a>

                <a class="icon-small" href="mailto:kontakt@adrianniewiadomski.pl"><i class="far fa-envelope fa-2x"></i></a>
                <a class="icon-small" href="https://github.com/AdrianNiewiadomski" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                <a class="icon-small" href="https://pl.linkedin.com/in/adrian-niewiadomski-84589356" target="_blank">
                    <i class="fab fa-linkedin-in fa-2x"></i></a>
                <a class="icon-small" href="https://www.researchgate.net/profile/A_Niewiadomski" target="_blank"><i class="fab fa-researchgate fa-2x"></i></a>

                <p>2019 &copy; Adrian Niewiadomski</p>
            </div>
        </footer>
    </body>
</html>
