<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Gra wąż</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/snake/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaQueries.css') }}">
        <script src="{{ url_for('static', filename='js/snake/script.js') }}" charset="utf-8"></script>
    </head>
    <body onkeydown="zmienKierunek(event);">
        <section>
            <header>
                <h1>Gra wąż</h1>
                <div>
                    <button id="start" onclick="start();">Start</button>
                </div>
                <div class="srodek">
                    <label for="trudnosc">Trudność:</label>
                    <select id='trudnosc' onchange="zmienTrudnosc();">
                        <option value="latwy">Łatwy</option>
                        <option value="sredni" selected="selected">Średni</option>
                        <option value="trudny">Trudny</option>
                    </select>
                </div>
                <div id="wynik">Wynik: 00</div>
                <div class="clear"></div>
            </header>
            <div id="plansza"></div>
        </section>
        <script type="text/javascript">
            init();
        </script>
    </body>
</html>
